body {
	background-color: #e9e9e9;
}

.navbar-default {
	border-radius: 0;
}

.input-group {
	width: 60%;
	margin: 10px 0;
	float: left;
}

#plus {
	float: left;
	margin-top: 10px;
}

#single-button {
	margin-top: 10px;
	border: 1px solid #ccc;
}

.uib-dropdown-menu li a {
	padding-top: 5px !important;
}

.dropdown-menu .divider {
	margin: 5px 0;
}

.logo {
	width: 300px;
	display: block;
	margin-bottom: 10px;
}

.loginLogo {
	width: 600px;
	margin-bottom: 40px;
}

.navbar-right li a {
	padding-top: 17px;
}

.input-group-addon:first-child {
	width: 40px;
	border-right: 0;
	background-image: url("../images/pinterest.png");
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.btn-info:hover {
	background-color: #eee;
	border: 1px solid #ccc;
	border-left: 0;
	color: #555;
}

.profile {
	margin-left: 30px;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

#content {
	padding: 0 30px 30px;
}

#loginContent {
	width: 80%;
	margin: 150px auto 0;
	text-align: center;
}

#loginContent input {
	font-size: 2em;
	height: auto;
}

#loginContent button {
	margin: 0 10px;
}

#password {
	margin: 20px 0;
}

#login,
#signupButton {
	font-size: 1.4em;
}

#loginButtons {
	margin-top: 40px;
}

.form-control:focus + .input-group-addon {
	background-color: #66afe9;
	color: #fff;
}

.form-control:focus + .input-group-addon:hover {
	background-color: #3696e2;
}

#columns {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.widgets {
	background-color: #fff;
	vertical-align: top;
	width: 100%;
	margin: 14px 7px 5px;
	padding-bottom: 5px;
	border-radius: 6px;
	display: inline-block;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pinPhoto img {
	max-width: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.widgetContent {
	padding: 0 20px;
}



/**********************************
MEDIA QUERIES
**********************************/

@media (min-width: 800px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 1060px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1320px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

/* #columns:hover .pins:not(:hover) {
	opacity: 0.4;
}
 */









