<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Sweet Pinterest Project</title>

	  <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="lib/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
	  <link rel="stylesheet" type="text/css" href="styles/main.css">
	</head>

	<body ng-app="PinterestApp">

		<section ng-controller="MainCtrl">
			<nav class="navbar navbar-default" ng-controller="ModalController">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" role="search" id="bs-example-navbar-collapse-1">

			    <div class="input-group">

					  <span class="input-group-addon" ng-click="goMain()"></span>
					  <input type="text" placeholder="Enter Search Terms" class="form-control" aria-label="Search for categories">

					  <span class="input-group-addon btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
					</div>


			      <ul class="nav navbar-nav navbar-right" ng-if="loggedIn">
			      	<button class="btn btn-danger" id="plus" ng-click="open()">Add Pin</button>
			      	<li class="dropdown option">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			          </ul>
			        </li>
			        <li class="option profile">
			        	<!-- Single button -->
						    <div class="btn-group" uib-dropdown is-open="status.isopen">
						      <button id="single-button" type="button" class="btn option" uib-dropdown-toggle ng-disabled="disabled">
						        Profile Options <span class="caret"></span>
						      </button>
						      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
						        <li role="menuitem"><a href="#/profile">Your Profile</a></li>
						        <li class="divider"></li>
						        <li role="menuitem"><a ng-click="logOut()">Log Out</a></li>
						      </ul>
						    </div>
    					</li> <!-- end single button -->
			      
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>


			<section ng-view id="content"></section>
		</section> <!-- End of Main Controller -->


  <script src="lib/bower_components/angular/angular.min.js"></script>
  <script src="lib/bower_components/angular-route/angular-route.js"></script>
  <script src="lib/bower_components/firebase/firebase.js"></script>
  <script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>
  <script src="lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


  <script src="app/pinterest.js"></script>

  <script src="app/factories/Auth.js"></script>

  <script src="app/controllers/MainCtrl.js"></script>
  <script src="app/controllers/ModalController.js"></script>
  <script src="app/controllers/MainCtrl.js"></script>
  <script src="app/controllers/Board.js"></script>
  <script src="app/controllers/Profile.js"></script>


	</body>
</html>