<img class="logo" src="images/painterest_logo.png">

<div class="grid js-masonry" data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 236 }'>

	<div  ng-repeat="pin in pins">
		<div class="myPins grid-item" ng-repeat="stuff in pin">
			
		  <button class="btn btn-primary" type="button" ng-click="addToBoard(stuff)">Add to Board</button>

		  <div class="pinPhoto">
		  	<img src="{{stuff.img}}">
		  	<!-- <button class="btn btn-default btn-small" id="edit">edit</button> -->
		  </div>

		  <div class="widgetContent">
		  	<h3>{{stuff.title}}</h3>
		  	<p>{{stuff.description}}</p>
		  </div>

		  	<hr>

		  <div class="widgetContent">
		  	<p>{{stuff.board}}</p> <!-- Should be username -->
		  </div>
		  
		</div>
	</div>
</div>