<div class="modal-header">
    <h3 class="modal-title">Add a Pin!</h3>
</div>
<div class="modal-body">

 <label>
        <input type="text" ng-model="pins.title"> Pin Title
      </label>
      <label>
        <input type="text" ng-model="pins.description"> Pin Description
      </label>
      <label>
        <input type="text" ng-model="pins.img"> Image URL 
      </label>      
      <label>
        <input type="text" ng-model="pins.board"> Pin Board 
      </label>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

